In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import ast

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

c:\Users\david\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [32]:
df_exploded = df[['job_title_short', 'job_skills']]
df_exploded = df_exploded.explode('job_skills')
df_exploded = df_exploded.groupby('job_title_short').nunique().sort_values(by='job_skills', ascending=False)
df_exploded.rename(columns={'job_skills':'num_unique_skills'})
df_exploded.head().reset_index()

        job_title_short  job_skills
0         Data Engineer         239
1     Software Engineer         239
2        Data Scientist         237
3          Data Analyst         235
4  Senior Data Engineer         226