In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\david\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
df_sample = df.copy().sample(frac=0.1)
df_sample.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
665121,Senior Data Scientist,"Senior Data Scientist - Viator - Oxford, UK Re...","Oxford, UK",via LinkedIn,Full-time,False,United Kingdom,2023-08-23 10:15:49,False,False,United Kingdom,None,NaN,NaN,Viator,"['python', 'numpy', 'pandas', 'scikit-learn']","{'libraries': ['numpy', 'pandas', 'scikit-lear..."
629349,Data Engineer,"Data Engineer, JOFBIT","Tokyo, Japan",via LinkedIn,Full-time,False,Japan,2023-11-29 12:25:56,False,False,Japan,None,NaN,NaN,Amazon,"['sql', 'python', 'java', 'aws', 'redshift']","{'cloud': ['aws', 'redshift'], 'programming': ..."
27547,Software Engineer,Software Engineer - Database design and develo...,"Athens, Greece",via LinkedIn,Full-time,False,Greece,2023-09-12 13:33:20,False,False,Greece,None,NaN,NaN,Computer Technology Institute and Press “DIOPH...,"['sql', 'sql server']","{'databases': ['sql server'], 'programming': [..."
417076,Data Analyst,Data Analyst,"San José Province, San José, Costa Rica",via LinkedIn,Full-time,False,Costa Rica,2023-11-28 16:37:46,False,False,Costa Rica,None,NaN,NaN,"Midland Credit Management, an Encore Capital G...","['sql', 'r', 'python', 'azure', 'power bi', 'e...","{'analyst_tools': ['power bi', 'excel'], 'clou..."
616847,Data Scientist,Data Scientist,"Charlotte, NC",via Indeed,Full-time,False,"Illinois, United States",2023-05-28 12:03:32,False,True,United States,None,NaN,NaN,Eliassen Group,['sql'],{'programming': ['sql']}