Extract Nested Value from Tuple (1.11.5) - Problem
Tuples
Problem Statement:
Extract and print the number of postings for 'Machine Learning Engineer' from the nested tuple job_details. The job_details is set to (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50)).

Code Needed:
ðŸ“‹ Copy
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
Hint:
Use indexing to access the nested tuple and then the specific item within it.

In [2]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
extracted_information = job_details[2][1]
print(extracted_information)

50