Concatenate Strings (1.4.3) - Problem
Strings
Problem Statement:
Concatenate the strings seniority_level and job_title with a space in between. The variables are set to 'Senior' and 'Data Analyst' respectively.

Code Needed:
ðŸ“‹ Copy
seniority_level = 'Senior'
job_title = 'Data Analyst'
Hint:
Use the + operator to concatenate strings and include a space between them.

In [3]:
job_title = 'Data Analyst'
seniority_level = 'Senior'
title = seniority_level + " " + job_title
print(title)

Senior Data Analyst