Determine Job Title (1.7.3) - Problem
Conditional Statements
Problem Statement:
Determine the job_title based on years of job experience and years of SQL experience. The variable job_experience is set to 4 and sql_experience is set to 2. Use the following criteria:

Less than 2 years of job experience:

0 SQL experience â†’ "Associate Analyst"
1+ years of SQL experience â†’ "Junior Analyst"
2 to 5 years of job experience:

0 SQL experience â†’ "Associate Analyst"
1 year of SQL experience â†’ "Intermediate Analyst"
2+ years of SQL experience â†’ "Senior Analyst"
More than 5 years of job experience:

0â€“2 years of SQL experience â†’ "Data Analyst"
3+ years of SQL experience â†’ "Lead Analyst"
Code Needed:
ðŸ“‹ Copy
job_experience = 4
sql_experience = 2
Hint:
Use nested if statements to check multiple conditions step by step.
Instead of using and, check the first condition in the outer if, and then check the second condition inside it.
We'll cover and in the Operators pt 2 lesson in order to handle multiple conditions; so you can solve it without it here.

In [1]:
job_experience = 4
sql_experience = 2

if job_experience < 2:
  if sql_experience < 1:
    print("Associate Analyst")
  else:
    print("Junior Analyst")
elif job_experience < 6:
  if sql_experience < 1:
    print("Associate Analyst")
  elif sql_experience < 2:
    print("Intermediate Analyst")
  else:
    print("Senior Analyst")
else:
  if sql_experience < 3:
    print("Data Analyst")
  else:
    print("Lead Analyst")

Senior Analyst