In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\david\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
df_pivot = df.pivot_table(values='salary_year_avg', index='company_name', aggfunc=['median', 'max', 'min'])
df_pivot.head(5)

                                 median             max             min
                        salary_year_avg salary_year_avg salary_year_avg
company_name
#twiceasnice Recruiting    65000.000000   120000.000000    61000.000000
/dev/color                125000.000000   125000.000000   125000.000000
0nward Select              92500.000000    92500.000000    92500.000000
1 Point System            137290.484375   137290.484375   137290.484375
1 Point System LLC.       170000.000000   170000.000000   170000.000000