In [5]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [15]:
df_salary_by_title_and_country = df[df['job_title_short'] == 'Data Scientist']
df_salary_by_title_and_country= df_salary_by_title_and_country.pivot_table(values='salary_year_avg', index=['company_name', 'job_country'], aggfunc='median')
filtered_pivot_table = df_salary_by_title_and_country[df_salary_by_title_and_country['salary_year_avg'] > 200000]
filtered_pivot_table.head(10)

                                   salary_year_avg
company_name        job_country
ACT                 Sudan                 225000.0
                    United States         225000.0
Abbott              United States         204000.0
Airbnb              United States         212500.0
Airtable            Sudan                 215500.0
                    United States         233500.0
Algo Capital Group  Sudan                 325000.0
                    United States         350000.0
Amadeus Search      United States         232500.0
Analog Devices, Inc United States         375000.0