In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [8]:
df['date_as_string'] = df['job_posted_date'].apply(lambda date: date.strftime("%Y-%m-%d"))
df[['date_as_string', 'job_posted_date']]

       date_as_string     job_posted_date
0          2023-06-16 2023-06-16 13:44:15
1          2023-01-14 2023-01-14 13:18:07
2          2023-10-10 2023-10-10 13:14:55
3          2023-07-04 2023-07-04 13:01:41
4          2023-08-07 2023-08-07 14:29:36
...               ...                 ...
785736     2023-03-13 2023-03-13 06:16:16
785737     2023-03-12 2023-03-12 06:18:18
785738     2023-03-12 2023-03-12 06:32:36
785739     2023-03-12 2023-03-12 06:32:15
785740     2023-03-13 2023-03-13 06:16:31

[785741 rows x 2 columns]