In [25]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [26]:
df_filtered = df.dropna(subset=['salary_year_avg']).copy()

In [ ]:
def set_salary_category(row):
    if row["salary_year_avg"] < 60000:
        return "Low"
    elif row["salary_year_avg"] < 100000:
        return "Medium"
    else:
        return "High"
    
    
df_filtered["salary_category"] = df_filtered.apply(set_salary_category, axis=1)

In [31]:
df_filtered[['salary_year_avg', 'salary_category']]

        salary_year_avg salary_category
28             109500.0            High
77             140000.0            High
92             120000.0            High
100            228222.0            High
109             89000.0          Medium
...                 ...             ...
785624         139216.0            High
785641         150000.0            High
785648         221875.0            High
785682         157500.0            High
785692         157500.0            High

[22003 rows x 2 columns]