In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\david\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [22]:
df_company_salary = df.groupby('company_name')['salary_year_avg'].mean().reset_index()
df_company_remotes = df[df['job_work_from_home'] == True]
df_company_remotes
df_company_remotes= df.groupby('company_name')['job_work_from_home'].count().reset_index()
df_company_remotes.rename(columns={'job_work_from_home' : 'remote_count'}, inplace=True)
df_merged = pd.merge(left=df_company_salary, right=df_company_remotes, on='company_name', how='inner')
df_merged.head()

                                  company_name  salary_year_avg  remote_count
0                                      "Dbank"              NaN             1
1                             "Hamkorbank" АТБ              NaN             1
2                                     "KELKOO"              NaN             1
3                          "PASHA Holding" LLC              NaN             1
4  "TECHNICUS LTD" sp. z o.o. ODDZIAŁ W POLSCE              NaN             1